
<div class="row center-row">
  <div class="col-md-12">
    <div class="card text-center center-page">
      <div class="card-header dark-header">
        <h1 class="blink">Christian Collins</h1>
      </div>
      <div class="card-block">
        <h4 class="card-title marquee">Web Developer <span>in the makings</span></h4>
        <p class="card-text red-color">I like to make things work</p>
        <ul class="nav nav-tabs card-header-tabs justify-content-md-center">
          <li class="nav-item">
            <a class="nav-link" href="#">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Twitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stuff</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

